MONGODB_URI=mongodb+srv://example_db_username:example_db_password@example_user_name.f8a3c.mongodb.net/example_database_name?retryWrites=true&w=majority&appName=example_appName
PORT=3000
NODE_ENV=development
